h1 {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}
h3 {
    font-size: 17px;

}
h4 {
    font-size: 19px;
}

p {
    text-align: justify;
    font-size: 16px;
}

.jumbotron {
    background-image: url(img2.jpg);
    min-height: 80px;
    margin-bottom: 0px;
    border-radius: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: ;
}
th [colspan="8"] {
    text-align: center;
}


.podtext.carta {
    font-size: 14px;
}
dd {
    font-size: 17px;
}

.mt-obr.mb-obr  {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-txt.mb-txt {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mt-txt.mb-txt.pr-obr {
    padding-right: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pr-obr {
    padding-right: 40px;
}

.mb-obr {
    padding-bottom: 100px;
}

.mt-obr {
    margin-top: 15px;
}

.card-body.text2 {
    margin-bottom: 24px;
}
.card.mb-4 {
    background-color: #939B9E   ;

}

.nav-item:hover {
    background-color: #236175;
}

.card {
    border-radius: 0px;
}

.back-dark {
    background-color: #36494F;
}
.footer {
    background-color: #FFFFFF;
}

.img-circle {
    border-radius: 100%;
}
.nadtextem {
    margin-top: 70px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #236175;
}